/* _____ Сброс стилей _____ */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

ul {
  /* По бему этого делать нельзя (мы не можем стилизировать теги) в идеале. */
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Сбрасываем стили у списков. Создаем блок утилиту, которую потом будем добавлять к спискам. */
.list {
  /* Это блок утилита */
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #2a2a2a;
  background-color: #fff;
}
/* ___________________________________________________________________________________ */

/* Вложенность (блоки и элементы, имена классов блоков и элементов).
Имя блока через подчеркивание если оно состоит из двух слов (site-nav). 
Имя элементов этого блока-к имени блока прибавляем два нижних подчеркивания и пишем имя элемента (site-nav__item).

html код -----
<ul class="site-nav list">
  <li class="site-nav__item">
    <a class="site-nav__link" href="">
      <span class="site-nav__icon">Иконка</span>
      <span class="site-nav__text">О нас</span>
    </a>
  </li>
  <li class="site-nav__item">
    <a class="site-nav__link" href="">
      <span class="site-nav__icon">Иконка</span>
      <span class="site-nav__text">Портфолио</span>
    </a>
  </li>
  <li class="site-nav__item">
    <a class="site-nav__link" href="">
      <span class="site-nav__icon">Иконка</span>
      <span class="site-nav__text">Контакты</span>
    </a>
  </li>
</ul> 
----------------*/

/* _____ Page header _____ */
.page-header__nav {
  display: flex;
  align-items: center;
}
/* page-header__logo (Микс/Примесь). Для внешних отступов блока по БЭМ.
  Делаем блок logo как элемент другого блока page-header "page-header__logo"(для того что-бы задать марджины блоку). 
  Это правило используется только в БЭМ. */
.page-header__logo {
  margin-right: 50px;
}
/* _____ Site nav _____ */

/* Имя-класса блока site-nav*/
.site-nav {
  display: flex;
}

/* Имена-классов элементов этого блока 
(к имени класса блока добавляем два нижних подчеркивания и имя класс элемента site-nav__item) */
.site-nav__item {
  margin-right: 20px; /* добавляем крайнюю геометрию элементам списка */
}
.site-nav__item:last-child {
  margin-right: 0; /* убираем крайнюю геометрию у последнего элемента списка */
}

.site-nav__link {
  display: block; /* задаем ссылкам display: block; чтоб вертикальная геометрия подтянулась. Или можно задать display: flex; */
  padding: 10px 20px;
  text-decoration: none;
  color: currentColor; /* color: currentColor; - возьмет цвет от родителя (унаследует). */
}
.site-nav__link--active {
  /* (.site-nav__link--active) Это модификатор (активное состояние - текущая страница). 
  К имени элемента бобавляем два обычных подчеркивания и пишем название модификатора (состояние).  */
  color: teal;
}
/* (:hover) делаем элементу-ссылке состояние ховер. 
К имени-класса элемента просто добавляем ховер. */
.site-nav__link:hover {
  color: orangered;
}

.site-nav__icon {
  display: inline-block; /* задаем иконкам display: inline-block; чтоб вертикальная геометрия подтянулась. */
  padding: 5px;
  background-color: teal;
  color: #fff;
}
.site-nav__text {
}

/* _____ Logo _____ */

/* html код ----- 
<a class="logo" href="">
  <img
    class="logo__image"
    src="./images/logo.png"
    alt="Логотип компании Технокряк"
  />
  Технокряк
</a>
-----------------*/

.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  text-transform: uppercase;
  font-weight: 500;
  color: #2a2a2a;
}
.logo__image {
  margin-right: 4px;
}
/* ------------------------------------------------------------------------------------- */

/* Как делать марджины болокам правильно. 
- В нашем случае марджины мы делаем как обычно , на имя блока, на имя элемента не следуя БЭМ методологии. 
- В случае марджинов по БЭМ методологии, пример ниже (как сделать идеально). */

/* _____ Card-set _____ */

/* ----- Набор карточек (Card-set)
html код -----
  <ul class="card-set">
    <li class="card-set__item">
      <article class="card-set__product">
        <img
          class="card-set__image"
          src="https://picsum.photos/300/200"
          alt=""
        />
        <div class="card-set__meta">
          <h3 class="card-set__name">Название продукта</h3>
          <p class="card-set__price">193 кредита</p>
          <button class="card-set__button">В корзину</button>
        </div>
      </article>
    </li>

    <li class="card-set__item">
      <article class="card-set__product">
        <img
          class="card-set__image"
          src="https://picsum.photos/300/200"
          alt=""
        />
        <div class="card-set__meta">
          <h3 class="card-set__name">Название продукта</h3>
          <p class="card-set__price">193 кредита</p>
          <button class="card-set__button">В корзину</button>
        </div>
      </article>
    </li>
  </ul>
--------------  */

.card-set {
  display: flex;
  flex-wrap: wrap;
  /* Свойство flex-wrap позвоялет превратить однострочный контейнер в многострочный. 
  Элементы будут добавляться в строку до тех пор, пока в ней будет место, после чего будет автоматически создана еще одна строка. */
  margin: -15px;
}
.card-set__item {
  width: 300px; /* или может быть flex-basis: ; */
  margin: 15px;
}
/* _____ Product _____ */
.product {
}
.product__image {
}
.product__meta {
}
.product__name {
}
.product__price {
}
.product__button {
}

/* ------------------------------------------------------------------------------------- */

/* _____ Page footer _____ */
.page-footer {
  background-color: #2a2a2a;
}

/* Меняем цвет текста лого на светлый в футере.
----------
(Вариант-1 "Модификатор")

Делаем текст лого светлым в футере (вариант №1).
Создаем новый модификатор logo--invers 
и добовляем его к классу logo в (footer).
html код -----
<a class="logo logo--invers" 
--------------
и на logo--invers меняем стили. 

Пример:
.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  text-transform: uppercase;
  font-weight: 500;
  color: #2a2a2a;
}

.logo--invers {
  color: #fff;
}
---------------------------------------------------

(Вариант-2 "Примесь") 

Это когда какой-то блок в определенном месте становится элементом другого блока. 
(к классу-блоку logo) добавляем - примешиваем новый (класс-элемент page-footer__logo)
html-----
<a class="logo page-footer__logo"
---------
и на нем меняем стили. Это называется "Примесь".

Пример:
.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  text-transform: uppercase;
  font-weight: 500;
  color: #2a2a2a;
}

.page-footer__logo {
  color: #fff;
}
*/

.page-footer__logo {
  color: #fff;
}
/* _____ Notification _____ */
.notification {
  display: flex;
  align-items: center;

  padding: 20px;
  margin: 0;
  max-width: 400px;

  background-color: #ccc;
  color: #fff;
}
.notification--success {
  background-color: green;
}
.notification--warning {
  background-color: orange;
}
.notification--error {
  background-color: red;
}

.notification__icon {
  /* display: none; прячем иконку которая будет появлятся только при ховере */
  /* display: none;  */
  font-size: 40px;
}
.notification__icon--prepend {
  /*модификатор prepend (до) для картинки в начале */
  margin-right: 30px;
}
.notification__icon--append {
  /*модификатор append (после) для картинки в конце */
  margin-left: 30px;
}
.notification:hover .notification__icon {
  /* display: block; делаем иконку видимой */
  /* display: block; */
  font-size: 80px;
}
